.image{
  text-align: center;
  height: 250px;
  width:100%;
}

body{
  background-image: url('/resources/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  padding: 0px;
  margin:0px;
}
